body {
    font-family: Arial, sans-serif;
}

#controls {
    margin-bottom: 10px;
}

#canvas-container {
    border: 1px solid #000;
    position: relative;
    width: 1200px; /* Aumentado */
    height: 800px; /* Aumentado */
}

#canvas {
    width: 100%;
    height: 100%;
    background: #f0f0f0;
}

#output-container {
    margin-top: 20px;
}

#vector-output, #raster-output {
    margin-top: 10px;
}

.hidden {
    display: none;
}

#colorPicker {
    margin-left: 10px;
}
